In [1]:
#importando biblioteca
import pandas as pd

In [2]:
df = pd.read_csv('fifa19.csv', sep=',', skiprows=None)

In [3]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

## Missing e Alterações/Criação de Campos

In [4]:
df_null = df[['ID','Name','LCB','LB']].head(10)
df_null

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
3  193080             De Gea   NaN   NaN
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3
9  200389           J. Oblak   NaN   NaN

In [5]:
df_null.isna()

      ID   Name    LCB     LB
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True   True
4  False  False  False  False
5  False  False  False  False
6  False  False  False  False
7  False  False  False  False
8  False  False  False  False
9  False  False   True   True

In [6]:
df_null.isna().sum()

ID      0
Name    0
LCB     2
LB      2
dtype: int64

In [8]:
df_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Name    10 non-null     object
 2   LCB     8 non-null      object
 3   LB      8 non-null      object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

In [9]:
df_null[pd.isna(df_null['LCB'])]#Filtrar linhas com campo LCB missing

       ID      Name  LCB   LB
3  193080    De Gea  NaN  NaN
9  200389  J. Oblak  NaN  NaN

In [10]:
df_null[df_null['LCB'].notna()]#Filtra quem não tem LCB missing

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3

In [11]:
#Se estivesse numerico, preencher com media:

#df_null.fillna(df_null.mean(), inplace=True)

<ipython-input-11-928f7bd7e9eb>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_null.fillna(df_null.mean(), inplace=True)

In [12]:
values = {'LCB': '0', 'LB': '99999'}
df_null.fillna(value = values)

       ID               Name   LCB     LB
0  158023           L. Messi  47+2   59+2
1   20801  Cristiano Ronaldo  53+3   61+3
2  190871          Neymar Jr  47+3   60+3
3  193080             De Gea     0  99999
4  192985       K. De Bruyne  66+3   73+3
5  183277          E. Hazard  49+3   60+3
6  177003          L. Modrić  71+3   79+3
7  176580          L. Suárez  63+5   66+5
8  155862       Sergio Ramos  87+3   84+3
9  200389           J. Oblak     0  99999

In [13]:
df_null

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
3  193080             De Gea   NaN   NaN
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3
9  200389           J. Oblak   NaN   NaN

In [14]:
df_null.dropna()

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3

In [15]:
df_null.dropna(subset=['LCB']) # exclui missing somente de quem está no subset

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3

In [17]:
df['Weight'].head()

0    159lbs
1    183lbs
2    150lbs
3    168lbs
4    154lbs
Name: Weight, dtype: object

In [23]:
df['Weight'].fillna('0lbs', inplace=True)

In [25]:
teste = df['Weight'].head()
teste[1].replace('lbs', '')

'183'

In [26]:
def substitui_lbs(value):
    """funcao para tratar campo peso"""
    x = value.replace('lbs', '')
    return int(x)

df['Weight_New'] = df['Weight'].apply(substitui_lbs)
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,159
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,183
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,150
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,168
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,154

In [27]:
df[['Weight_New']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Weight_New  18207 non-null  int64
dtypes: int64(1)
memory usage: 142.4 KB

In [29]:
#Convertendo campo salario
def converte_wage(value):
    value_2 = value.replace('€', '')
    if 'M' in value_2:
        value_2 = value_2.replace('M', '')
        return float(value_2)*1000000
    elif 'K' in value_2:
        value_2 = value_2.replace('K', '')
        return float(value_2)*1000
    
df['Wage_Numeric'] = df['Wage'].apply(converte_wage)
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,159,565000.0
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,183,405000.0
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,150,290000.0
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,168,260000.0
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,154,355000.0

In [34]:
df['avg_GK'] = (df['GKDiving']+df['GKHandling']+df['GKKicking']+df['GKPositioning']+df['GKReflexes'])/5
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric,avg_GK
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,159,565000.0,10.8
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,183,405000.0,11.6
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,150,290000.0,11.8
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,168,260000.0,88.8
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,154,355000.0,11.2

In [37]:
#Cria um campo condicionado a outro
import numpy as np
df['Age_Class'] = np.where(df['Age']>30, 'Old', 'Young')
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric,avg_GK,Age_Class
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,6.0,11.0,15.0,14.0,8.0,€226.5M,159,565000.0,10.8,Old
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,7.0,11.0,15.0,14.0,11.0,€127.1M,183,405000.0,11.6,Old
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,9.0,9.0,15.0,15.0,11.0,€228.1M,150,290000.0,11.8,Young
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,90.0,85.0,87.0,88.0,94.0,€138.6M,168,260000.0,88.8,Young
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,15.0,13.0,5.0,10.0,13.0,€196.4M,154,355000.0,11.2,Young

In [38]:
df['Age_Class2'] = 'Young'
df.loc[df['Age']>30, 'Age_Class2'] = 'Old'
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric,avg_GK,Age_Class,Age_Class2
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,11.0,15.0,14.0,8.0,€226.5M,159,565000.0,10.8,Old,Old
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,11.0,15.0,14.0,11.0,€127.1M,183,405000.0,11.6,Old,Old
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,9.0,15.0,15.0,11.0,€228.1M,150,290000.0,11.8,Young,Young
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,85.0,87.0,88.0,94.0,€138.6M,168,260000.0,88.8,Young,Young
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,13.0,5.0,10.0,13.0,€196.4M,154,355000.0,11.2,Young,Young

## Extras

In [39]:
#Criar um dataframe a partir de um clipboard. Simplesmente copie a tabela faça:
df_clipboard = pd.read_clipboard()

In [41]:
#usar dados dumies para treinar os modelos
pd.util.testing.makeDataFrame()

C:\Users\Cristiano\anaconda3\lib\site-packages\pandas\util\__init__.py:16: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
eJ4jhBnjlF -1.067906 -0.257356  0.722304 -0.455055
nWfM8MhucX  0.197956  0.046860  0.307953  0.748994
0Jr19QaYw3  0.772791 -1.489790  1.183869  0.442688
6i8T1aDKej  0.399843 -0.877938  0.959158  1.138656
mbJaGrU8Pp -0.331717 -1.250031  0.192337 -0.392598
JugUinzUhp  2.084051 -0.930389 -0.690683 -0.371136
21IvTAVysq  0.171432 -0.040809 -0.008201  0.122052
ZJIRYdqOLn  0.210380 -2.701549 -1.507876  1.794502
mKYxthTdCi -0.668175  0.212423 -0.672795 -1.071952
kEwBKqZfCc -1.289034  0.279723  0.048834  0.002129
KlH0vEK0yk -0.238841 -1.403982 -0.327578 -0.459960
xlVb04mTsZ  1.716062  0.140010 -0.325560 -0.015006
xZqkuesRbh -1.333819 -0.214770  1.555732  1.439405
MeSxx7iVJP  0.679137 -1.268283 -1.463094  1.013155
8ADAVVccIu  0.373700  0.768883 -0.647896  1.445443
IL4wlcb6Kr -0.952174 -0.480079  0.165066 -0.576132
GwqelZZuj6  0.468498 -1.745865 -2.161924 -1.112563
QZ2YA6hOjJ -0.628040 -0.085756  0.867580 -1.822914
Jp4roMarTj  2.078450 -0.094687  1.185109  0.835130
54qSBMJhtB -1.117256 -0.443441  0.156332  0.182419
Tw2PFwXE4n -0.048871  0.722632 -1.902819 -0.386054
z82ZPIFISd -0.373625 -0.897694 -0.839635 -1.345105
JoigQX5PMx  0.651021 -0.717803  0.792221 -0.642661
55UF3OHtTs -1.496860  0.371834  0.581537  2.417010
YK9LyGy0u8 -1.463051  0.275733  0.562399  0.031796
8sqghHkL5W  0.178197  1.109810  1.020014  0.342906
cyAyVncSbt  0.701316 -0.145566 -0.282383  0.498511
5TxLMnf04L -1.815163 -1.526796  1.287812  0.036184
bcIdClw20D  1.032286  0.246187  0.793792  0.674409
S9wH8TCQJM  1.818748  0.240313  0.483734 -0.599917

In [42]:
#ler csv
#df = pf.read_csv()

#exportar para csv
df.to_csv('fifa19_example.csv', sep=';', decimal = ',')